@charset "utf-8";

/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style:normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

input, textarea, select {
  margin: 0;
  padding: 0;
  font-style:normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  font-family: Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html{
  overflow-y: scroll;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

input, textarea {
  margin: 0;
  padding: 0;
}

ol, ul{
    list-style:none;
}

table{
    border-collapse: collapse; 
    border-spacing:0;
}

caption, th{
    text-align: left;
}

a:focus {
  outline:none;
}

.clearfix:after {
  content: "."; 
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

.both{
  clear:both;
}

.inline_block {  
  display: inline-block;  
  *display: inline;  
  *zoom: 1;  
}

table {
  width:100%;
}

a {
  border: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a, a img, input[type="image"] {
  transition: .3s;
}

a:hover, input[type="image"]:hover {
  opacity:.5;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

header {
  background: url(/common/img/common/headerBg.jpg) repeat-x;
  text-align: center;
}

.maintitle {
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "HGS明朝E", "メイリオ", Meiryo, serif;
  color: #f55a8f;
}

.subtitle {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.125em;
  font-weight: bold;
  font-family: Georgia, "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "HGS明朝E", "メイリオ", Meiryo, serif;
  color: #f55a8f;
}

#error {
  margin: 0 2em .5em;
  padding: 1em;
  background: #eee;
  border-radius: .5em;
}

#error p {
  margin-bottom: .5em;
  text-align: center;
  font-weight: bold;
  color: red;
}

#error li {
  margin-bottom: .75em;
  padding-left: 1em;
  text-indent: -1em;
  font-size: .8em;
}

#error li:before {
  content: "\30FB";
}

#error li:last-child {
  margin-bottom: 0;
}

.base > tbody > tr > td p {
  margin-bottom: .5em;
  font-size: .75em;
}

.base > tbody > tr > td p:last-child {
  margin-bottom: 0;
}

.intable {
  border: 1px solid #ddd;
  margin-bottom: .5em;
}

.intable thead tr {
  background: #f6f6f6;;
}

.intable th {
  font-size: .9em;
}

.intable th span {
  font-weight: bold;
}

.intable th span.sat {
  color: blue;
}

.intable th span.sun {
  color: red;
}

.intable th, .intable td {
  border: 1px solid #ddd;
  text-align: center;
}

.intable th, .intable td label {
  padding: .75em .25em;
}

.intable td label {
  width: 100%;
}

.form label {
  display: inline-block;
  margin-right: 1em;
  line-height: 1.5em;
}

.form button[type="submit"] {
  display: block;
  margin: auto;
  padding: 0.75em 3em;
  background: #8ed584;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  border-radius: .25em;
  border: none;
  font-size: 1.25em;
  cursor: pointer;
  transition: .3s;
}

.form button[type="submit"]:hover {
  opacity: .8;
}

.item {
  font-weight: 500;
  line-height: 1.5em;
}

.item:before {
  position: relative;
  margin-right: .5em;
  padding: .175em .5em;
  border-radius: .25em;
  font-size: .65em;
  color: #fff;
  top: -2px;
}

.req .item:before {
  content: "\5FC5\9808";
  background: #f55a8f;
}

.opt .item:before {
  content: "\4EFB\610F";
  background: #40c0e0;
}

input[type="text"].ok, input[type="tel"].ok, input[type="email"].ok, select.ok {
  background: #e1feee;
}

input[type="text"].ng, input[type="tel"].ng, input[type="email"].ng, select.ng {
  background: #ffcbcb;
}

.sec {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

td .sec:last-child {
  margin-bottom: 0;
}

.pos {
  position: relative;
}

.pos span {
  position: absolute;
  right: 0;
}

.mailcheck, .telcheck {
  margin: .5em;
  text-align: center;
}

.mailcheck span, .telcheck span {
  min-height: 1.25em;
  display: block;
  word-break:break-all;
  font-weight: bold;
  font-size: 1.875em;
}

.form .btn_radio + label {
  position: relative;
  display: block;
  width: calc(50% - .25em);
  margin: 0 .5em .5em 0;
  padding: .5em;
  padding-left: 2em;
  background: #eee;
  border: 1px solid #999;
  border-radius: .5em;
  text-align: center;
  font-size: .875em;
  color: #999;
}

.form .btn_radio + label:nth-child(4n) {
  margin-right: 0;
}

.form .btn_radio + label:before {
  position: absolute;
  top: 50%;
  left: .675em;
  display: block;
  margin-top: -.675em;
  content: '\f00c';
  font-family: FontAwesome;
  color: #bbb;
}

.form .btn_radio.lev1 + label:before, .form .btn_radio.lev2 + label:before, .form .btn_radio.lev3 + label:before {
  left: .4em;
  margin-top: -.4em;
  font-weight: bold;
  font-size: 1.5em;
}

.form .btn_radio.lev1 + label:before {
  content: '\00D7'; /*25B3*/
  color: #f55a8f;
}

.form .btn_radio.lev2 + label:before {
  content: '\25B3'; /*25CB*/
  color: #f28642;
}

.form .btn_radio.lev3 + label:before {
  content: '\25CB'; /*25CE*/
  color: #2bb167;
}

.form .btn_radio:checked  + label {
  background: #e1feee;
  color: #000;
}

.form .btn_radio:checked + label:before{
  content: '\f00c';
  color: #2bb167;
}

.form .btn_radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
  display: block;
}

.ipt100 {
  width: 100%;
}

.ipt50 {
  width: 49%;
}

.ipt30 {
  width: 30%;
}

.ipt26 {
  width: 26%;
}

.sec .ipt50 {
  margin-right: 2%;
}

.sec .ipt50:nth-child(2n) {
  margin-right: 0;
}

#conf_block span {
  position: relative;
  display: inline-block;
  padding: .5em 1em;
  padding-left: 3.25em;
  background: #dd2d2d;
  text-align: center;
  font-size: .875em;
  color: #fff;
}

#conf_block span:before {
  position: absolute;
  display: block;
  content: "\f06a";
  top: 50%; left: .25em;
  margin-top: -.5em;
  line-height: 1;
  font-family: FontAwesome;
  font-size: 2.5em;
  color: #fff;
}

#sug {
  position: absolute;
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: .25em;
}

#sug li {
  padding: .5em;
  border-bottom: 1px dotted #eee;
  cursor: pointer;
}

#sug li:last-child {
  border: none;
}

#sug li.sel {
  background: #bfe3f9;
}

#conf_block {
  margin-top: 2em;
  text-align: center;
}

#conf_block span {
  display: inline-block;
  text-align: center;
}

.remain_box {
  position: fixed;
  max-width: 9em;
  padding: .5em;
  background: #dd2d2d;
  border-radius: .5em;
  font-size: .875em;
  z-index: 999;
  color: #fff;
}

.remain_box.ok {
  background: #acfcd0;
  color: #333;
}

.remain_box span {
  font-weight: bold;
}

footer {
  margin-top: 2em;
}

footer p {
  line-height: 2em;
  text-align: center;
  font-size: .75em;
}

.privacy {
  padding: 1em;
  background: #fce0e5;
}

.privacy h2 {
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  color: #f55a8f;
  font-family: Georgia, "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "HGS明朝E", "メイリオ", Meiryo, serif;
}

.privacy p {
  font-size: .875em;
  margin-bottom: 1.5em;
}

.privacy p:last-child {
  margin-bottom: 0;
}

.hidbox {
  height: 12em;
  overflow-y: scroll;
  margin-bottom: 1em;
  padding: 1em;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.2) inset;
}

.hidbox h3 {
  font-weight: bold;
  margin-bottom: .5em;
}

.hidbox ul {
  margin-bottom: 1.5em;
}

.hidbox ul li {
  margin-bottom: .5em;
  font-size: .875em;
  padding-left: 1em;
}

.form .p_privacy .btn_radio + label {
  margin: 0 auto;
  font-size: 1.1em;
}

.thanks {
  margin-top: 2em;
}

.thanks p {
  margin-bottom: 1em;
}

.att {
  text-decoration: underline;
  color: #f55a8f;
}

.login {
  margin: 1em .5em;
  padding: 1em;
  border: 1px solid #c7c7c7;
}

.login .catch {
  margin: .25em 0 .75em;
  text-align: center;
  font-weight: bold;
  font-size: 1.05em;
  font-family: Georgia, "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "HGS明朝E", "メイリオ", Meiryo, serif;
  color: #f55a8f;
}

.login p {
  font-size: .875em;
  margin-bottom: .5em;
}

.login ul li {
  color: #fff;
}

.login ul li a {
  position: relative;
  display: block;
  padding: .75em;
  padding-left: 2.5em;
  text-align: center;
}

.login ul li a:before {
  position: absolute;
  top: 50%;
  width: 2em;
  margin-top: -.5em;
  text-align: center;
  font-family: FontAwesome;
  font-size: 1.5em;
}

.login ul li a.flogin {
  background: #3b5998;
}

.login ul li a.flogin:before {
  content: "\f09a";
}

.login ul li a.glogin {
  background: #dd4b39;
}

.login ul li a.glogin:before {
  content: "\f0d5";
}

.login ul li a.ylogin {
  background: #ff0033;
}

.login ul li a.ylogin:before {
  content: "\f19e";
}

.red {
  font-size: .75em;
  color: #f55a8f;
}

.meiwaku {
  padding: 1em;
  background: #fce0e5;;
}

.meiwaku .catch {
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "HGS明朝E", "メイリオ", Meiryo, serif;
  color: #f55a8f;
}

.meiwaku p {
  font-size: .875em;
}

.pos.sec {
  font-size: .75em;
}

.shoplist {
  padding: .4em 1.5em;
  background: #f55a8f;
  border-radius: 1em;
  color: #fff;
}

.form span.lev1, .form span.lev2, .form span.lev3 {
  font-weight: bold;
}

.form span.lev1:before, .form span.lev2:before, .form span.lev3:before {
  font-family: FontAwesome;
}

.form span.lev1 {
  color: #d44242;
}

.form span.lev1:before {
  content: '\00D7'; /*\25B3*/
}

.form span.lev2 {
  color: #f28642;
}

.form span.lev2:before {
  content: '\25B3'; /*25CB*/
}

.form span.lev3 {
  color: #2bb167;
}

.form span.lev3:before {
  content: '\25CB'; /*25CE*/
}